<%- require('../layouts/head.ejs')(title='Главная') %>
<main>
    <h1 class="title visually-hidden">"O Company" - с заботой о природе.</h1>
    <%- require('../layouts/hero.ejs')() %>
    <%- require('../layouts/geography.ejs')() %>
    <%- require('../layouts/events.ejs')() %>
    <%- require('../layouts/newsletter.ejs')() %>

</main>
<%- require('../layouts/foot.ejs')()%>
